<style>
.highlight { padding: 1rem; }
.highlight .hll { background-color: #ffffcc; }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #008800; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #AA22FF; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #008800 } /* Comment.Preproc */
.highlight .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #008800; font-style: italic } /* Comment.Single */
.highlight .cs { color: #008800; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #AA22FF; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #AA22FF } /* Keyword.Pseudo */
.highlight .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #00BB00; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BB4444 } /* Literal.String */
.highlight .na { color: #BB4444 } /* Name.Attribute */
.highlight .nb { color: #AA22FF } /* Name.Builtin */
.highlight .nc { color: #0000FF } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #00A000 } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #B8860B } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #BB4444 } /* Literal.String.Affix */
.highlight .sb { color: #BB4444 } /* Literal.String.Backtick */
.highlight .sc { color: #BB4444 } /* Literal.String.Char */
.highlight .dl { color: #BB4444 } /* Literal.String.Delimiter */
.highlight .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BB4444 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BB4444 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BB4444 } /* Literal.String.Single */
.highlight .ss { color: #B8860B } /* Literal.String.Symbol */
.highlight .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.highlight .fm { color: #00A000 } /* Name.Function.Magic */
.highlight .vc { color: #B8860B } /* Name.Variable.Class */
.highlight .vg { color: #B8860B } /* Name.Variable.Global */
.highlight .vi { color: #B8860B } /* Name.Variable.Instance */
.highlight .vm { color: #B8860B } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */



</style>


<h1>How to use Javascript FormData objects</h1>

<p>With native Javascript, the best way to submit form data via ajax is with <code>FormData</code> objects. As of late 2017, there is basic browser support for FormData in the major browsers and a <a href="https://github.com/jimmywarting/FormData">polyfill</a> is available for supporting older browser versions.</p>

<h2>Basic FormData example with html form</h2>

<p>If you have a form on your page, creating a <code>FormData</code> object from the form is simple. Here&#39;s some sample code:</p>
<div class="highlight"><pre><span></span><span class="nb">document</span><span class="p">.</span><span class="nx">getElementById</span><span class="p">(</span><span class="s2">&quot;submit_button&quot;</span><span class="p">).</span><span class="nx">addEventListener</span><span class="p">(</span>
    <span class="s2">&quot;click&quot;</span><span class="p">,</span>
    <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>

        <span class="kd">var</span> <span class="nx">form</span> <span class="o">=</span> <span class="nb">document</span><span class="p">.</span><span class="nx">querySelector</span><span class="p">(</span><span class="s2">&quot;#my_form&quot;</span><span class="p">),</span>
            <span class="c1">// Simply pass the DOM object to the FormData constructor</span>
            <span class="nx">formData</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">FormData</span><span class="p">(</span><span class="nx">form</span><span class="p">);</span>

        <span class="c1">// At this point, you can simply pass the FormData object to a xhr/ajax request</span>
        <span class="nx">fetch</span><span class="p">(</span>
            <span class="s1">&#39;https://SOMEDOMAIN.COM/&#39;</span><span class="p">,</span> 
            <span class="p">{</span>
                <span class="nx">method</span><span class="o">:</span> <span class="s1">&#39;post&#39;</span><span class="p">,</span>
                <span class="nx">headers</span><span class="o">:</span> <span class="k">new</span> <span class="nx">Headers</span><span class="p">({</span>
                    <span class="s1">&#39;HTTP_X_REQUESTED_WITH&#39;</span><span class="o">:</span> <span class="s1">&#39;XMLHttpRequest&#39;</span>
                <span class="p">}),</span>
                <span class="nx">body</span><span class="o">:</span> <span class="nx">formData</span>
            <span class="p">}</span>
        <span class="p">).</span><span class="nx">then</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">response</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">return</span> <span class="nx">response</span><span class="p">.</span><span class="nx">json</span><span class="p">();</span>
        <span class="p">})</span>
        <span class="p">.</span><span class="k">catch</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">err</span><span class="p">)</span> <span class="p">{</span>
            <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">&quot;FIRST ERROR&quot;</span><span class="p">);</span>
            <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">err</span><span class="p">);</span>
        <span class="p">})</span>
        <span class="p">.</span><span class="nx">then</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">responseData</span><span class="p">)</span> <span class="p">{</span>
            <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">responseData</span><span class="p">);</span>
        <span class="p">}).</span><span class="k">catch</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">err</span><span class="p">)</span> <span class="p">{</span>
            <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">&quot;SECOND ERROR&quot;</span><span class="p">);</span>
            <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">err</span><span class="p">);</span>
        <span class="p">});</span>
    <span class="p">}</span>
<span class="p">);</span>
</pre></div>

<p>One peculiar aspect of <code>fetch()</code> that might catch you off guard is that the Promise doesn&#39;t trigger the catch block on error-coded server responses. For example, a response with 500 will still resolve to the <code>then()</code> block and not the <code>catch()</code> block unless there&#39;s an error in the <code>then()</code> block or you explicity throw an error in the <code>then()</code> block.</p>

<p><script></p>

<p>document.querySelector(&quot;button&quot;).addEventListener(
      &quot;click&quot;,
      function(ev) {</p>

<pre><code>var button = ev.target;

        if (button.classList.contains(&quot;submitted&quot;)) return;


        while (button.hasChildNodes()) button.removeChild(button.firstChild);

        button.appendChild(document.createTextNode(&quot;Working&quot;));

        button.classList.add(&quot;submitted&quot;);

        var form = document.querySelector(&quot;#my_form&quot;),
              formData = new FormData(form);

        let keys = formData.keys();

        // You can modify the FormData object as well:
        formData.append(&quot;origin&quot;, window.location.origin);
        formData.append(&quot;pathname&quot;, window.location.pathname);

        for (let key of keys) {
              console.log(key, formData.get(key));
        }


        /*
        var request = new XMLHttpRequest();


        request.addEventListener(
              &quot;load&quot;,
              function() {

                    console.log(this.responseText);
              }
        );



        request.open(&quot;POST&quot;, &quot;http://localhost:8000/api/500/&quot;);
        request.send(formData);
        */

        var headers = new Headers({
                    // X-Requested-With is necessary to identify the request as xhr/ajax:
                    &quot;X-Requested-With&quot;: &quot;XMLHttpRequest&quot;,
                    //&#x27;Accept&#x27;: &#x27;application/json&#x27;
              });


        // TODO: is this request triggering a preflight OPTIONS request?


        // At this point, you can simply pass the FormData object to a xhr/ajax request
        fetch(
              //&#x27;https://httpstat.us/500&#x27;,
              &#x27;http://localhost:8000/api/500/&#x27;,
              {
                method: &#x27;POST&#x27;,
                headers: headers,
                body: formData
              }
        )
        .then(function(response) {

              if (!response.ok) throw new Error(response.statusText + &quot; (&quot; + response.status + &quot;)&quot;);

              return response.json();

        }).then(function(responseContents) {

              console.log(&quot;WHAT IS RESPONSE JSON?&quot;)
              console.log(responseContents);

        }).catch(function(err) {

              console.log(&quot;ERROR&quot;);
              console.log(err);
        }).then(function(_) {


              window.setTimeout(
                    function() {
                          while (button.hasChildNodes()) button.removeChild(button.firstChild);
                          button.appendChild(document.createTextNode(&quot;Submit&quot;));
                          button.classList.remove(&quot;submitted&quot;);
                    }
                    , 1500
              );
        });



  }</code></pre>

<p>)</p>
